body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    text-align: center;
}

.button {
    border-radius: 10px;

    &--nightMode {
        border: 2px solid white;
        color: white;
        background-color: #222222;
    }
}

.container {
    width: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: lightyellow;
    border-radius: 10px;

    &--nightMode {
        border: 2px solid white;
        background-color: orange;
    }
}

.body {
    &--nightMode {
        background-color: #222222;
        // color: white;
    }
}
