/* Id selector */
#footerParagraph {
    background-color: lightblue;
}

/* Element Selector */
p {
    color: purple;
    border: 10px dotted black;
}

p {
    background-color: darkorange;
}

/* Universal Selector */
* {
    color: salmon;
    font-family: Arial;
}

/* Class Selector */
.orange-paragraph {
    color: orange;
    border: 2px solid orangered;
    background-color: bisque;
}

.green-paragraph {
    color: green;
    border: 2px solid #225522;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}
