.Home {
    margin: 80px;
    border: 2px black solid;
    width: 60vw;
    height: 60vh;
    border-radius: 20px;
}

.Home__background_blue {
    background-color: aqua;
}
.Home__background_red {
    background-color: lightcoral;
}
.Home__background_purple {
    background-color: darkviolet;
}
